<div class="card">
  <div class="card-content">
    <img
      src="../../../assets/multicolor_3859x2075.png"
      alt="preview"
      class="card-preview"
    />
    <ul class="card-panel-list">
      <li class="card-panel-item">
        <img
          src="../../../assets/icon/viewed.svg"
          alt="view"
          class="view-icon"
        />
        <span class="view-counter">1000</span>
      </li>
      <li class="card-panel-item">
        <img
          src="../../../assets/icon/liked.svg"
          alt="like"
          class="like-icon"
        />
        <span class="like-counter">680</span>
      </li>
      <li class="card-panel-item">
        <img
          src="../../../assets/icon/dislike.svg"
          alt="dislike"
          class="dislike-icon"
        />
        <span class="dislike-counter">320</span>
      </li>
      <li class="card-panel-item">
        <img
          src="../../../assets/icon/comment.svg"
          alt="comment"
          class="comment-icon"
        />
        <span class="comment-counter">250</span>
      </li>
    </ul>
    <h1 class="card-title">Kuji Podcast #21</h1>
  </div>
  <button class="card-button">more...</button>
</div>
