.header {
  background-size: 100vw;
  background: #e5e5e5;
}

.header-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo {
  width: 50px;

  .logo-img {
    width: 100%;
  }
}

.search-field {
  display: flex;

  .search-input {
    width: 400px;
    height: 24px;
    border: none;
    background-color: #efefef;
    padding: 0 5px;
    color: #333333;
  }

  .search-button {
    width: 80px;
    height: 24px;
    background-color: #2f80ed;
    border-radius: 0px 4px 4px 0px;
    border: none;
    color: #ffffff;
    cursor: pointer;
    transition: 0.3s ease-in-out;
  }

  .search-button:hover {
    filter: drop-shadow(2px 0px 4px #2f80ed);
  }
}

.setting-button {
  height: 24px;
  width: 24px;
  background-color: #2f80ed;
  border: none;
  border-radius: 5px;
  padding: 4.5px;
  cursor: pointer;
  transition: 0.3s ease-in-out;

  .setting-button-img {
    width: 100%;
    height: 100%;
  }
}

.setting-button:hover {
  filter: drop-shadow(2px 0px 4px #2f80ed);
}

.login {
  display: flex;
  align-items: center;
  gap: 8px;

  .user-name {
    color: #4f4f4f;
  }

  .avatar {
    width: 24px;
    height: 24px;
    border-radius: 5px;
    background-color: #ffffff;
    cursor: pointer;
    transition: 0.3s ease-in-out;
  }

  .avatar:hover {
    filter: drop-shadow(2px 2px 4px rgba(47, 128, 237, 0.25));
  }

  .logout {
    width: 20px;
    height: 20px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
  }

  .logout:hover {
    filter: drop-shadow(1px 1px 3px #ff414b70);
  }
}

.settings {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: #2f80ed;
}

.sort-opions {
  color: #929292;
}

.sort-options-list {
  display: flex;
  align-items: center;
  gap: 20px;

  .sort-options-item {
    cursor: pointer;
  }

  .sort-options-item:active {
    text-decoration-line: underline;
  }

  .active {
    text-decoration-line: underline;
  }

  .key-word {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: default;
  }

  .search-in-results {
    height: 20px;
    width: 150px;
    color: #333333;
    border: none;
  }
}
