<main class="main">
  <div class="full-card-wrapper">
    <button
      class="back-btn"
      [style.background-color]="
        this.videoDescriptionService.cardBorderColor(card)
      "
      (click)="backToVideos()"
    >
      <img src="./assets/icon/back.svg" alt="back-button" />
    </button>
    <div class="full-card">
      <div
        class="cover"
        [style.background-image]="
          'url(' + card.snippet.thumbnails.maxres.url + ')'
        "
      >
        <img
          src="{{ card.snippet.thumbnails.maxres.url }}"
          alt="cover"
          class="cover-img"
        />
      </div>
      <div
        class="video-description-wrapper"
        [style.border-bottom-color]="
          this.videoDescriptionService.cardBorderColor(card)
        "
      >
        <div class="video-description-content">
          <h2 class="video-title">{{ card.snippet.title }}</h2>
          <p class="publication-date">
            {{ card.snippet.publishedAt | date: "EEEE, MMMM d, y" }}
          </p>
          <div class="video-description">
            <h4 class="description-title">Description:</h4>
            <p class="description-text">
              {{ card.snippet.description }}
            </p>
          </div>
        </div>
        <ul class="card-panel-list">
          <li class="card-panel-item">
            <img src="./assets/icon/viewed.svg" alt="view" class="view-icon" />
            <span class="view-counter">{{ card.statistics.viewCount }}</span>
          </li>
          <li class="card-panel-item">
            <img src="./assets/icon/liked.svg" alt="like" class="like-icon" />
            <span class="like-counter">{{ card.statistics.likeCount }}</span>
          </li>
          <li class="card-panel-item">
            <img
              src="./assets/icon/dislike.svg"
              alt="dislike"
              class="dislike-icon"
            />
            <span class="dislike-counter">{{
              card.statistics.dislikeCount
            }}</span>
          </li>
          <li class="card-panel-item">
            <img
              src="./assets/icon/comment.svg"
              alt="comment"
              class="comment-icon"
            />
            <span class="comment-counter">{{
              card.statistics.commentCount
            }}</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</main>
