<main class="main" *ngIf="videoService.request">
  <h1 class="not-found-message" *ngIf="!showVideos().length">
    Sorry we didn't find anything :(
  </h1>
  <div
    class="card"
    *ngFor="let card of showVideos()"
    [style.border-bottom-color]="videoDescriptionService.cardBorderColor(card)"
  >
    <div class="card-content">
      <img
        src="{{ card.snippet.thumbnails.medium.url }}"
        alt="preview"
        class="card-preview"
      />
      <ul class="card-panel-list">
        <li class="card-panel-item">
          <img src="./assets/icon/viewed.svg" alt="view" class="view-icon" />
          <span class="view-counter">{{ card.statistics.viewCount }}</span>
        </li>
        <li class="card-panel-item">
          <img src="./assets/icon/liked.svg" alt="like" class="like-icon" />
          <span class="like-counter">{{ card.statistics.likeCount }}</span>
        </li>
        <li class="card-panel-item">
          <img
            src="./assets/icon/comment.svg"
            alt="comment"
            class="comment-icon"
          />
          <span class="comment-counter">{{
            card.statistics.commentCount
          }}</span>
        </li>
      </ul>
      <h1 class="card-title">{{ card.snippet.title }}</h1>
    </div>
    <button class="card-button" (click)="goToDescription(card)">more...</button>
  </div>
</main>
