<main class="main">
  <form class="admin-window">
    <h1 class="admin-title">Create new card</h1>
    <div class="forms-field">
      <div class="title-field">
        <h6 class="title-field-title">Title</h6>
        <input type="text" class="admin-input title-input" />
      </div>
      <div class="description-field">
        <h6 class="description-title">Discription</h6>
        <input type="text" class="admin-input description-input" />
      </div>
      <div class="img-field">
        <h6 class="img-title">Img</h6>
        <input type="text" class="admin-input img-input" />
      </div>
      <div class="link-field">
        <h6 class="link-title">Link video</h6>
        <input type="text" class="admin-input link-input" />
      </div>
    </div>
    <button class="admin-btn">Create card</button>
  </form>
</main>
