<main class="main">
  <div class="auth-window">
    <h1 class="auth-title">Login</h1>
    <div class="forms-field">
      <div class="login-field">
        <h6 class="login-title">login</h6>
        <input type="text" class="auth-input login-input">
      </div>
      <div class="password-field">
        <h6 class="password-title">password</h6>
        <input type="password" class="auth-input password-input">
      </div>
    </div>
    <button class="auth-btn login-btn">Login</button>
  </div>
</main>
